html, body, .container, section{
	height: 100%; 
}

.container{
	padding: 2em; 
}

section{
	position: relative;
}

article{
	font-family: 'Roboto', sans-serif;
}

.opening{
	font-size: 3em;
	position: absolute;
	margin: auto; 
	top: 0; 
	right:0; 
	bottom: 0;
	left: 0; 
	min-height: 5em; 
	
}
